#hproductos{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#FFF;
}

#PRODUCTOS
{
	background:#DF7401;
	height:130px; 
	margin:3px;
	width:396px;
	}
	
#PRODUCTOS:HOVER
{
	background:#FE9A2E;
	}
	
#VALE
{
	background:#DF7401;
	height:130px; 
	margin:3px;
	width:396px;
	}
	
#VALE:HOVER
{
	background:#FE9A2E;
	}

#hproveedores{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#FFF;
}

#PROVEEDORES
{
	background:#FF8000;
	height:130px;
	margin:3px;
	width:195px;
	}
	
#PROVEEDORES:HOVER
{
	background:#F5DA81;
	}

#Ranking
{
	background:#F5D0A9;
	height:130px;
	margin:3px;
	width:195px;
}
#Ranking:HOVER
{
	background:#F6E3CE;
	}
#Ranking1
{
	background:#F5BCA9;
	height:130px;
	margin:3px;
	width:195px;
}
#Ranking1:HOVER
{
	background:#F6CECE;
	}


#ORDEN
{ 
	background:#FF8000; 
	height:130px;
	margin:3px;
	width:195px;
	}
	
#ORDEN:HOVER
{
	background:#F5DA81;
	}



#LISTADO
{
	height:130px; 
	background:#FE9A2E; 
	margin:3px;
	width:195px;
	}
	
#LISTADO:HOVER
{
	background:#F7D358;
	}
	
#INFORME
{
	height:130px; 
	background:#FE9A2E;  
	margin:3px;
	width:195px;
	}
	
#INFORME:HOVER
{
	background:#F7D358;
	}


	
#CLIENTE
{
	height:130px; 
	background:#F7BE81; 
	margin:3px;
	width:195px;
	}
	
#CLIENTE:HOVER
{
	background:#F5D0A9;
	}
	
h1{
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#FFF;
	margin-top:58px;
}

h2
{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#FFF;
	margin-top:58px;
	}
	
#BACK {
width : 48px;
height : 48px;
margin-left:-607;
background:url(../Imagenes/back.png);
}

#BACK:hover {
background-image : url(../Imagenes/back22.png);
} 

	
#LISTADO_VALE_E
{
	height:130px; 
	background:#F7D358;
	margin:3px;
	width:195px;
	}
	
#LISTADO_VALE_E:HOVER
{
	background:#F2F5A9;
	}
