#INFORME
{
	background:#F0F;
	height:130px; 
	margin:3px;
	width:396px;
	}
	
#INFORME:HOVER
{
	background:#FCF;
	}
#INFORME1
{
	background:#C6F;
	height:130px; 
	margin:3px;
	width:396px;
	}
	
#INFORME1:HOVER
{
	background:#F9C;
	}	
	#INFORME2
{
	background:#F6C;
	height:130px; 
	margin:3px;
	width:396px;
	}
	
#INFORME2:HOVER
{
	background:#FCC;
	}
	#INFORME3
{
	background:#F69;
	height:130px; 
	margin:3px;
	width:396px;
	}
	
#INFORME3:HOVER
{
	background:#F99;
	}
	
h2
{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#FFF;
	margin-top:58px;
	}
	
#BACK {
width : 48px;
height : 48px;
margin-left: 0px;

background:url(../Imagenes/back.png);
}

#BACK:hover {
background-image : url(../Imagenes/back22.png);
} 