#OBRA, #CLIENTE, #RUT,#DIRECCION_OBRA,#OC,#CONDICION_PAGO,#DEPARTAMENTO_CREDITO,#DIRECTOR,#DISENADOR,#CONTACTO,#FONO,#MAIL,#VALIDEZ,#PUESTOS,#SUB_TOTAL,#DESCUENTO,#FECHA_INGRESO{width:135px; height:10px; background-color:#fff text-align:center; }

#demoArr { margin-bottom:4px; }